<a href="https://colab.research.google.com/github/verdwis/Labeling-Dataset/blob/main/Labeling_Dataset_Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import re

from sklearn import preprocessing

#**Clone Github**

In [ ]:
!git clone https://github.com/ridife/dataset-idsa

Cloning into 'dataset-idsa'...
remote: Enumerating objects: 6, done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 6
Unpacking objects: 100% (6/6), done.

In [ ]:
data = pd.read_csv('/content/dataset-idsa/Indonesian Sentiment Tweet Dataset Unlabeled.zip', names=['text'])

In [ ]:
data.shape

(453390, 1)

In [ ]:
data.head(3)

                                                text
0  lagu bosan apa yang aku save ni huhuhuhuhuhuhu...
1  kita lanjutkan saja diam ini hingga kau dan ak...
2  Doa rezeki tak putus Inna haa zaa larizquna ma...

In [ ]:
!pip install vaderSentiment

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 126.0/126.0 KB 4.8 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from vaderSentiment) (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->vaderSentiment) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->vaderSentiment) (2022.12.7)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [ ]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [ ]:
def VederSentimentAnalysis(review):
  vs = analyzer.polarity_scores(review)
  return vs['compound']

In [ ]:
data['vender sentiment'] = data['text'].apply(VederSentimentAnalysis)
data.head(5)

                                                text  vender sentiment
0  lagu bosan apa yang aku save ni huhuhuhuhuhuhu...            0.4939
1  kita lanjutkan saja diam ini hingga kau dan ak...            0.0000
2  Doa rezeki tak putus Inna haa zaa larizquna ma...           -0.5106
3  Makasih loh ntar kita bagi hasil aku 99 9 sisa...            0.0000
4  Aku tak faham betul jenis orang malaysia yang ...            0.0000

In [ ]:
def vaderAnalyzer(compound):
  if compound >= 0.5:
    return 'Positiv'
  elif compound <= -0.5:
    return 'Negativ'
  else:
    return 'Neutral'

In [ ]:
data['label'] = data['vender sentiment'].apply(vaderAnalyzer)
data.head(5)

,text,vender sentiment,label
0,lagu bosan apa yang aku save ni huhuhuhuhuhuhu...,0.4939,Neutral
1,kita lanjutkan saja diam ini hingga kau dan ak...,0.0000,Neutral
2,Doa rezeki tak putus Inna haa zaa larizquna ma...,-0.5106,Negativ
3,Makasih loh ntar kita bagi hasil aku 99 9 sisa...,0.0000,Neutral
4,Aku tak faham betul jenis orang malaysia yang ...,0.0000,Neutral

In [ ]:
data = data.drop(['vender sentiment'], axis=1)

In [ ]:
data['label'].value_counts()

Neutral    428419
Positiv     17903
Negativ      7068
Name: label, dtype: int64

In [ ]:
# Labeling Label dataset
label_encoder = preprocessing.LabelEncoder()
data['label'] = label_encoder.fit_transform(data['label'])
data.head()

                                                text  label
0  lagu bosan apa yang aku save ni huhuhuhuhuhuhu...      1
1  kita lanjutkan saja diam ini hingga kau dan ak...      1
2  Doa rezeki tak putus Inna haa zaa larizquna ma...      0
3  Makasih loh ntar kita bagi hasil aku 99 9 sisa...      1
4  Aku tak faham betul jenis orang malaysia yang ...      1

In [ ]:
data.to_csv('/content/dataset_idsa.csv', index=False)

In [ ]:
data = pd.read_csv('/content/dataset_idsa.csv')
data.head(5)

                                                text  label
0  lagu bosan apa yang aku save ni huhuhuhuhuhuhu...      1
1  kita lanjutkan saja diam ini hingga kau dan ak...      1
2  Doa rezeki tak putus Inna haa zaa larizquna ma...      0
3  Makasih loh ntar kita bagi hasil aku 99 9 sisa...      1
4  Aku tak faham betul jenis orang malaysia yang ...      1

In [ ]:
data.shape

(453390, 2)